<main>
    <div class="cheerup">
        <h2>about cheerup</h2>
        <p id="cheerup-text">our world can use a little more beauty and love.</p>
        <p id="cheerup-text">this is a corner of the internet where you'll only see positive things.</p>
        <p id="cheerup-text"><a href='/users/signup'>sign up</a> or <a href='/users/login'>log in</a> in order to
            personalize your cheerup collection.</p>
        <div class="a-button">
            <a href='/cheerups/show'>show me a cheerup!</a>
        </div>
    </div>
</main>