<div class="create">
    <h2>create a cheerup!</h2>

    <form method="post" action="/users/create">

        <div class="form-group">
            <label for="text">text (limit 140 characters)</label>
            <textarea id="create-text" name="create-text" cols="50" rows"10"
                onkeydown="textCounter(this, 'create-length', 140);" onkeyup="textCounter(this, 'create-length', 140)">

            </textarea>
            <input style="width:40px;font-size:12pt;font-style:italic;text-align:center" readonly="readonly" type="text"
                id='create-length' name="create-length" size="3" maxlength="3" value="140" /> characters left</i>
        </div>

        <input class="create-btn" type="submit" value="let's do this!">
    </form>
</div>

<script>
    function textCounter(field, cnt, maxlimit) {
        var cntfield = document.getElementById(cnt)
        if (field.value.length > maxlimit) {
            field.value = field.value.substring(0, maxlimit);
        } else {
            cntfield.value = maxlimit - field.value.length;
        }
    }
</script>
{{!-- learned how to do character count from https://stackoverflow.com/questions/19962608/javascript-character-count --}}