<main>
    <div class="home">
        <h2>cheerup, <span id="noun">noun:</span></h2>
        <p class="cheerup-text">a short and positive quip that will make you happier.</p>
        <div class="a-button">
            <a href='/cheerups/show'>show me a cheerup!</a>
        </div>
    </div>
</main>

<script>
    let anchorButton = document.querySelector(".a-button");
    anchorButton.addEventListener("click", () => {
        window.location.href = '/cheerups/show'
    })
</script>