<main>
    <div class="cheerup">
        <h2>cheerup, <span id="noun">noun:</span></h2>
        <p id="cheerup-text">a short and positive quip that will make you happier.</p>
        <div class="a-button">
            <a href='/cheerups/show'>show me a cheerup</a>
        </div>
    </div>
</main>