<header>
    <div id="logo">
        <h1>cheerup!</h1>
    </div>
    <div>
        <nav>
            <a>home</a>
            <a>about</a>
            <a>create account/log-in</a>
        </nav>
    </div>
</header>

<main>
    <div>
        <h2>cheerup, noun:</h2>
        <p>a short and positive quip that will cheer you up and lift your spirits.</p>
        <a href='/cheerups/show'>show me a cheerup</a>
    </div>
</main>