<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>cheerup!</title>
</head>


<body>
    <header>
        <div id="logo">
            <a href="/cheerups/">
                <h1>cheerup!</h1>
            </a>
        </div>
        <div>
            <nav>
                <a href="/cheerups/">home</a> |
                <a href="/cheerups/about/">about</a> |
                {{#if currentUser}}
                <a href="/users/logout">log out</a>
                {{else}}
                <a href="/users/signup">sign up</a> |
                <a href="/users/login">log in</a>
                {{/if}}
            </nav>
        </div>
    </header>

    {{{body}}}

    <footer>
        <p>Made with &hearts; by Esin Saribudak &copy; 2019</p>
    </footer>
    <script>
        const colors = ["rgba(255, 191, 0, .25)", "rgba(0, 128, 255, .25)", "rgba(1, 223, 58, .25)", "rgba(255, 0, 128, .25)"]

        function randomColor(array) {
            backgroundColor = array[Math.floor(Math.random() * array.length)];
            return backgroundColor;
        }

        document.body.style.backgroundColor = randomColor(colors);
    </script>
</body>


</html>