<header>
    <div id="logo">
        <a href="/cheerups/">
            <h1>cheerup!</h1>
        </a>
    </div>
    <div>
        <nav>
            <a href="/cheerups/">home</a> |
            <a href="/cheerups/about">about</a> |
            <a>create account/log-in</a>
        </nav>
    </div>
</header>
<div class="cheerup">
    <span id="cheerup-text">{{cheerup.body}}</span>
    <div class="a-button">
        <a href="/cheerups/show">show me another</a>
    </div>
</div>