<header>
    <div id="logo">
        <h1>cheerup!</h1>
    </div>
    <div>
        <nav>
            <a>home</a>
            <a>about</a>
            <a>create account/log-in</a>
        </nav>
    </div>
</header>

<div>
    <p>{{cheerup}}</p>
    <a href="/showcheerup">show me another</a>
</div>