<div class="user-header">
    <div>
        <h2>hi there, friend!</h2>
    </div>
    <div>
        <a class="show-me-button" href="#">show me a random cheerup!</a>
    </div>
</div>

<h3>my cheerups</h3>
<div class="my-cheerups">
    <div id="create">
        <div id="plus-sign">+</div>
        <div>create</div>
    </div>
</div>

<h3>my likes</h3>
<div class="my-likes">
    <div id="see-another">
        <div id="plus-sign">+</div>
        <div>see more</div>
    </div>
</div>