body {
	max-width: 80%;
	width: 800px;
	margin: 0 auto;
	font-family: Geneva, sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 15px auto;
}

#logo {
	flex-grow: 2;
}

.a-button,
.btn {
	display: block;
	width: 155px;
	margin: 35px auto;
	text-align: center;
	border: 2px transparent solid;
	padding: 10px 20px;
	background-color: white;
}

.a-button:hover,
.btn:hover {
	border: 2px black solid;
	cursor: pointer;
}

a {
	color: black;
	text-decoration: none;
}

.cheerup h2 {
	font-size: 36px;
}

#noun {
	font-style: italic;
}

.cheerup {
	display: block;
	width: 65%;
	padding: 30px;
	margin: 90px auto;
	background-color: rgba(255, 255, 255, 0.35);
}

#cheerup-text {
	font-size: 32px;
}

#cheerup-text a {
	background-color: white;
	padding: 5px;
}

.message {
	height: 15px;
	margin: 10px 0;
	text-align: center;
}

.alert {
	margin: 20px 0;
}

.form-group {
	padding: 5px;
	width: 50%;
	margin: 0 auto;
}

input {
	outline: none;
	width: 100%;
	padding: 10px;
	font-size: 14px;
	border: solid 2px transparent;
}

input:focus {
	border: solid 2px black;
}

footer {
	text-align: center;
}
